@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --fondo: #080f28;
    --fondo2: #1e2747;
    --fondo3: #0f1323;
    --boton: #007aff;
    --black: #0d1117;
    --font-family-titles: 'Dosis', sans-serif;
    --font-family-text: 'Red Hat Display', sans-serif;
    --yellow: #EECC75;
    --green: #CAD297;
    --aqua: #B7EAC5;
    --lightBlue: #A2EEE5;
    --darkBlue: #8EA2EA;
    --red: #F09D9D;
    --font-weight-title1: 800;
    --font-weight-title2: 700;
    --font-weight-text1: 400;
    --font-weight-text2: 500;
    --purple-light-1: #FBFAFB;
    --purple-light-2: #EEEAF2;
    --purple-medium-1: #AA83C8;
    --purple-medium-2: #8B48BF;
    --purple-medium-3: #5C218A;
    --purple-dark-1: #3E0F64;
    --purple-dark-2: #2A0646;
}

body{
    background-color: var(--fondo);
}
.title{
    color: var(--boton);
}

.hamburger{
    color: #fff;
}

.active{
    color: var(--boton);
}

.list-item:hover{
    color: var(--boton);
}

.category{
    background-color: var(--yellow);
}